@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: overlay;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

.rc-tooltip-arrow {
  top: 4px !important;
}

.rc-tooltip-inner {
  a {
    color: #00a3ff;
  }
}

.rc-dropdown {
  z-index: 99999;
  position: absolute;
  padding: 8px;
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.12);
}

.rc-dropdown.fullscreen {
  z-index: 999;
  position: fixed;
  width: 100%;
  padding: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.rc-dropdown-hidden {
  display: none;
}

.rc-menu {
  border: none;
  box-shadow: none;
}

.rc-menu-item {
  margin-top: 4px;
  padding: 6px 12px;
  border-radius: 4px;
  background: #ffffff;
  color: #262626;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}

.rc-menu-item:first-child {
  margin-top: 0;
}

.rc-menu-item.active {
  background: #f0f0f0;
}

.rc-menu-item:hover {
  background: #f0f0f0;
}

.rc-menu-item-disabled {
  background: #ffffff;
  color: #cacaca;
  cursor: not-allowed;
}

.rc-menu-item-disabled:hover {
  background: #ffffff;
}

/* message css */
.rc-notification {
  z-index: 1000;
  position: fixed;
  transform: translateX(-50%);
}
.rc-notification-notice {
  margin: 10px 0;
  padding: 10px 16px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}
.msg-icon {
  margin-right: 8px;
}
.msg-content {
  color: #3d3d3d;
  font-size: 14px;
  line-height: 22px;
}
.rc-notification-fade-leave {
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-fill-mode: both;
  animation-play-state: paused;
}
.rc-notification-fade-appear.rc-notification-fade-appear-active,
.rc-notification-fade-enter.rc-notification-fade-enter-active {
  animation-play-state: running;
  animation-name: rcNotificationFadeIn;
}
.rc-notification-fade-leave.rc-notification-fade-leave-active {
  animation-play-state: running;
  animation-name: rcDialogFadeOut;
}
@keyframes rcNotificationFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rcDialogFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.grecaptcha-badge {
  visibility: hidden;
}

/* 智齿按钮 */
#zhichiBtnBox {
  visibility: hidden;
  opacity: 0;
}
/* 智齿弹窗 */
#ZCChatFrame {
  bottom: 4px !important;
}
